/* CSS RESET */
* {
  font-family: Comic Sans MS;
}

/* OUR CSS CODE */

/* Always put a div container within the body tag */
/* #container {
  margin: 10;
} */
/* div {
  margin: 2px;
} */
h1 {
  background-color: black;
  color: white;
  padding: 2px 20px;
  margin: 5px;
}
.cloud {
  color: cyan;
}
h2 {
  background-color: rebeccapurple;
  color: white;
  text-align: center;
  padding: 2px;
  margin: 5px;
}
h3 {
  background-color: #66d9ff;
  color: rgb(6, 6, 138);
  text-align: right;
  text-decoration: underline;
  padding: 5px 15px;
  margin: 5px;
}
