* {
  margin: 0px;
  padding: 0px;
}
.nav {
  background-color: rgba(29, 27, 27, 0.909);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.nav-title {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
a {
  color: white;
  font-weight: lighter;
  margin-right: 20px;
  font-family: "Roboto", sans-serif;
  text-decoration-line: none;
}
.btn {
  border: solid black;
  color: white;
  font-family: "Roboto", sans-serif;
  background-color: rgb(9, 122, 137);
  padding: 2px 9px;
  box-shadow: 3px 3px black;
}
li {
  padding-right: 5px;
}
.active {
  font-weight: 500;
}
